<VirtualHost *:{{ 80 }}>
   ServerAdmin webmaster@localhost
   ServerName 192.168.56.105
   ServerAlias www.server03
   DocumentRoot /var/www/html/index.html
   ErrorLog /tmp/error.log
   CustomLog /tmp/access.log combined
</VirtualHost>